In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")

df = df.loc[df["Type"] == "SingleFamily"]
print(len(x))
df = df[1:]

NameError: name 'x' is not defined

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31323 entries, 1 to 47438
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           31323 non-null  int64
 1   Address                      31323 non-null  object
 2   Sold Price                   31323 non-null  float64
 3   Summary                      31102 non-null  object
 4   Type                         31323 non-null  object
 5   Year built                   31135 non-null  float64
 6   Heating                      28146 non-null  object
 7   Cooling                      25924 non-null  object
 8   Parking                      30759 non-null  object
 9   Lot                          30619 non-null  float64
 10  Bedrooms                     31284 non-null  object
 11  Bathrooms                    30667 non-null  float64
 12  Full bathrooms               27858 non-null  float64
 13  Total interior livable area  30848 non-null  float64
 14  Total spaces                 31313 non-null  float64
 15  Garage spaces                31312 non-null  float64
 16  Region                       31323 non-null  object
 17  Elementary School            28361 non-null  object
 18  Elementary School Score      28228 non-null  float64
 19  Elementary School Distance   28361 non-null  float64
 20  Middle School                19865 non-null  object
 21  Middle School Score          19864 non-null  float64
 22  Middle School Distance       19865 non-null  float64
 23  High School                  28080 non-null  object
 24  High School Score            27914 non-null  float64
 25  High School Distance         28079 non-null  float64
 26  Flooring                     24619 non-null  object
 27  Heating features             27759 non-null  object
 28  Cooling features             25078 non-null  object
 29  Appliances included          22709 non-null  object
 30  Laundry features             23140 non-null  object
 31  Parking features             29457 non-null  object
 32  Tax assessed value           30295 non-null  float64
 33  Annual tax amount            29789 non-null  float64
 34  Listed On                    31323 non-null  object
 35  Listed Price                 31323 non-null  float64
 36  Last Sold On                 19880 non-null  object
 37  Last Sold Price              19880 non-null  float64
 38  City                         31323 non-null  object
 39  Zip                          31323 non-null  int64
 40  State                        31323 non-null  object
dtypes: float64(18), int64(2), object(21)
memory usage: 10.0+ MB

In [ ]:
df = df.drop(columns=["Id", "Address", "Sold Price", "Summary", "Type", "Full bathrooms", "Region",
                      "Garage spaces", "Elementary School", "Elementary School Distance",
                      "Middle School", "Middle School Distance", "High School",
                      "High School Distance", "Tax assessed value", "Annual tax amount", "Listed On",
                      "Last Sold On", "Last Sold Price", "City", "Zip", "State"])

In [3]:
first_dataset = df.dropna()
first_dataset

,Id,Address,Sold Price,Summary,Type,Year built,Heating,Cooling,Parking,Lot,...,Parking features,Tax assessed value,Annual tax amount,Listed On,Listed Price,Last Sold On,Last Sold Price,City,Zip,State
18,18,708 Tulane Ct,2290000.0,"708 Tulane Ct, San Mateo, CA 94402 is a single...",SingleFamily,1939.0,Central Forced Air - Gas,Central AC,"Garage, Garage - Attached",6952.0,...,"Garage, Garage - Attached",1836000.0,21521.0,2019-06-14,2390000.0,2017-09-22,1800000.0,San Mateo,94402,CA
23,23,2072 Brittan Ave,1600000.0,Welcome to this nice and bright ranch stye hom...,SingleFamily,1952.0,Central Forced Air - Gas,Central AC,"Garage, Garage - Attached",5000.0,...,"Garage, Garage - Attached",442672.0,6434.0,2019-11-07,1499000.0,1994-07-22,294000.0,San Carlos,94070,CA
39,39,4150 Bain Ave,1250000.0,Rarely available prime location! With 1640 sq...,SingleFamily,1950.0,"Gas, Forced Air",None,"Garage, Garage - Attached",7623.0,...,"Garage, Garage - Attached",505939.0,7407.0,2019-11-12,1298000.0,1998-11-18,360000.0,Santa Cruz,95062,CA
54,54,1303 Selo Dr,1500000.0,"Cozy, comfortable and oh-so charming, this hom...",SingleFamily,1949.0,Forced Air,None,"Garage, Garage - Attached, Covered",6520.0,...,"Garage, Garage - Attached, Covered",662686.0,8226.0,2019-11-20,1425000.0,2003-07-03,510000.0,Sunnyvale,94087,CA
76,76,7198 Via Corona,890000.0,Welcome to this lovely home in the well sought...,SingleFamily,1977.0,Central Forced Air,None,"Garage, Garage - Attached, Covered",6120.0,...,"Garage, Garage - Attached, Covered",696597.0,9212.0,2019-11-12,888000.0,2007-11-27,580000.0,San Jose,95139,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47402,47402,12051 Allin St,1475000.0,"12051 Allin St, Los Angeles, CA 90230 is a sin...",SingleFamily,1947.0,"Forced air, Gas",Central,"Garage, Carport, Off-street, Covered",4466.0,...,"Garage, Carport, Off-street, Covered",1181484.0,14347.0,2017-04-02,1025000.0,2017-06-30,998000.0,Culver City,90230,CA
47406,47406,1700 Huntmaster Dr,425000.0,"Located in a nice neighborhood this 4 bedroom,...",SingleFamily,2002.0,"Natural Gas, Central, Fireplace Insert","Central Air, Zoned","Garage - Attached, Covered",7233.0,...,"Garage - Attached, Covered",221108.0,2558.0,2020-11-18,439000.0,2011-04-19,189000.0,Hughson,95326,CA
47408,47408,4061 Farquhar Ave,2560000.0,Prime Los Alamitos location! Directly across f...,SingleFamily,1960.0,Forced air,Other,"Garage, Garage - Detached, Off-street, Covered",9491.0,...,"Garage, Garage - Detached, Off-street, Covered",2452963.0,29102.0,2016-07-08,875000.0,2016-10-17,850000.0,Los Alamitos,90720,CA
47427,47427,18312 James Rd,2267500.0,"18312 James Rd, Villa Park, CA 92861 is a sing...",SingleFamily,1964.0,High Efficiency,"High Efficiency, SEER Rated 16+","Garage, Garage - Attached, Covered",20037.6,...,"Garage, Garage - Attached, Covered",2360150.0,25283.0,2018-08-07,2569000.0,2018-11-29,2267500.0,Villa Park,92861,CA
47436,47436,1338 N Orange Grove Ave,2300000.0,Beautifully restored historic Colonial Revival...,SingleFamily,1919.0,Central,Central Air,Driveway,6756.0,...,Driveway,578000.0,7211.0,2020-12-01,2295000.0,2015-05-01,2150000.0,Los Angeles,90046,CA

In [4]:
first_dataset.dtypes

Id                               int64
Address                         object
Sold Price                     float64
Summary                         object
Type                            object
Year built                     float64
Heating                         object
Cooling                         object
Parking                         object
Lot                            float64
Bedrooms                        object
Bathrooms                      float64
Full bathrooms                 float64
Total interior livable area    float64
Total spaces                   float64
Garage spaces                  float64
Region                          object
Elementary School               object
Elementary School Score        float64
Elementary School Distance     float64
Middle School                   object
Middle School Score            float64
Middle School Distance         float64
High School                     object
High School Score              float64
High School Distance           float64
Flooring                        object
Heating features                object
Cooling features                object
Appliances included             object
Laundry features                object
Parking features                object
Tax assessed value             float64
Annual tax amount              float64
Listed On                       object
Listed Price                   float64
Last Sold On                    object
Last Sold Price                float64
City                            object
Zip                              int64
State                           object
dtype: object

# Unique Info

In [5]:
for obj in first_dataset.select_dtypes(include="object"):
    print(f"{obj}: {len(first_dataset[obj].unique())}")

Address: 5140
Summary: 5133
Type: 1
Heating: 410
Cooling: 131
Parking: 654
Bedrooms: 158
Region: 210
Elementary School: 600
Middle School: 287
High School: 253
Flooring: 418
Heating features: 260
Cooling features: 76
Appliances included: 870
Laundry features: 622
Parking features: 648
Listed On: 651
Last Sold On: 3162
City: 218
State: 2

In [10]:
rooms =  first_dataset[["Bedrooms","Bathrooms"]]
rooms

                                                Bedrooms  Bathrooms
18                                                     3        2.0
23                                                     3        2.0
39     Ground Floor Bedroom, Master Bedroom on Ground...        2.0
54                                                     3        1.0
76                                                     3        2.0
...                                                  ...        ...
47402                                                  4        4.0
47406                                                  4        2.0
47408                                                  3        2.0
47427                                                  4        5.0
47436                                                  3        2.0

[5140 rows x 2 columns]

In [9]:
school_scores = first_dataset[["Elementary School Score", "Middle School Score", "High School Score"]]
school_scores

       Elementary School Score  Middle School Score  High School Score
18                         6.0                  6.0                8.0
23                         9.0                  9.0                6.0
39                         5.0                  6.0                7.0
54                         5.0                  8.0                7.0
76                         5.0                  5.0                7.0
...                        ...                  ...                ...
47402                      5.0                  2.0                6.0
47406                      5.0                  4.0                7.0
47408                      9.0                  9.0                9.0
47427                      7.0                  5.0                7.0
47436                      7.0                  3.0                7.0

[5140 rows x 3 columns]

In [8]:
df["Appliances included"].unique()

array(['Dishwasher, Dryer, Garbage disposal, Microwave, Refrigerator, Washer',
       nan, 'Dishwasher', ...,
       'Dishwasher, Disposal, Refrigerator, Water Heater, Water Softener',
       'Oven, None',
       'Dryer, Washer, Gas Water Heater, Dishwasher, Disposal, Gas Range, Plumbed For Ice Maker, Microwave, Refrigerator, Self Cleaning Oven'],
      dtype=object)

In [15]:
listed_prices = first_dataset["Listed Price"]
listed_prices

18       2390000.0
23       1499000.0
39       1298000.0
54       1425000.0
76        888000.0
           ...
47402    1025000.0
47406     439000.0
47408     875000.0
47427    2569000.0
47436    2295000.0
Name: Listed Price, Length: 5140, dtype: float64

In [16]:
test_df = pd.concat([rooms, school_scores, listed_prices], axis=1, join="inner")
test_df

,Bedrooms,Bathrooms,Elementary School Score,Middle School Score,High School Score,Listed Price
18,3,2.0,6.0,6.0,8.0,2390000.0
23,3,2.0,9.0,9.0,6.0,1499000.0
39,"Ground Floor Bedroom, Master Bedroom on Ground...",2.0,5.0,6.0,7.0,1298000.0
54,3,1.0,5.0,8.0,7.0,1425000.0
76,3,2.0,5.0,5.0,7.0,888000.0
...,...,...,...,...,...,...
47402,4,4.0,5.0,2.0,6.0,1025000.0
47406,4,2.0,5.0,4.0,7.0,439000.0
47408,3,2.0,9.0,9.0,9.0,875000.0
47427,4,5.0,7.0,5.0,7.0,2569000.0
47436,3,2.0,7.0,3.0,7.0,2295000.0

In [17]:
test_df["Bedrooms"].unique()

array(['3',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet',
       '6',
       'Ground Floor Bedroom, Master Suite / Retreat, Walk-in Closet',
       'Ground Floor Bedroom, More than One Bedroom on Ground Floor', '4',
       'Master Bedroom on Ground Floor', '5',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor', '2',
       'Ground Floor Bedroom, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Walk-in Closet',
       'Ground Floor Bedroom, Walk-in Closet', 'Master Suite / Retreat',
       'Master Suite / Retreat, Walk-in Closet', 'Walk-in Closet',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet',
       'More than One Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Master Bedroom',
       'Master Bedroom on Ground Floor, Walk-in Closet',
       'Ground Floor Bedroom, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Master Bedroom on Ground Floor, Master Suite / Retreat', '1',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor',
       'Loft Bedroom, Walk-in Closet', 'Ground Floor Bedroom', '9',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor',
       'Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom',
       'Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+',
       'Master Suite / Retreat, More than One Bedroom on Ground Floor',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor',
       'Walk-in Closet, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Suite / Retreat',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Inverted Floor Plan',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet',
       'More than One Master Bedroom',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor',
       'Ground Floor Bedroom, More than One Master Bedroom',
       'Ground Floor Bedroom, Walk-in Closet, Master Suite / Retreate - 2+',
       'Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Master Bedroom on Ground Floor, Master Suite / Retreate - 2+',
       'Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet',
       '7', 'Ground Floor Bedroom, Loft Bedroom, Master Suite / Retreat',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat',
       'Loft Bedroom',
       'Ground Floor Bedroom, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Master Bedroom',
       'Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, More than One Master Bedroom on Ground Floor',
       'More than One Bedroom on Ground Floor, Walk-in Closet',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, More than One Master Bedroom',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Master Suite / Retreat, More than One Master Bedroom',
       'More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, Reverse Floor Plan',
       'More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, Reverse Floor Plan',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet',
       'More than One Master Bedroom on Ground Floor',
       'Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Loft Bedroom, Master Suite / Retreat, Walk-in Closet',
       'Ground Floor Bedroom, Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom',
       'Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Loft Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor, More than One Master Bedroom on Ground Floor',
       'Reverse Floor Plan',
       'Ground Floor Bedroom, Loft Bedroom, Walk-in Closet',
       'Ground Floor Bedroom, More than One Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor, More than One Master Bedroom',
       'Master Suite / Retreat, Reverse Floor Plan',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, Reverse Floor Plan',
       'More than One Bedroom on Ground Floor, More than One Master Bedroom',
       'Ground Floor Bedroom, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Loft Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Master Suite / Retreat, Walk-in Closet, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor',
       'Loft Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, More than One Master Bedroom on Ground Floor',
       'Loft Bedroom, Master Suite / Retreat, Walk-in Closet', '8',
       'Loft Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Ground Floor Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Suite / Retreat, Walk-in Closet, Master Suite / Retreate - 2+',
       'Walk-in Closet, More than One Master Bedroom, More than One Master Bedroom on Ground Floor',
       'More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'More than One Bedroom on Ground Floor, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, More than One Master Bedroom, More than One Master Bedroom on Ground Floor',
       'More than One Master Bedroom, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Inverted Floor Plan, Walk-in Closet, Reverse Floor Plan',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, More than One Master Bedroom',
       'Ground Floor Bedroom, More than One Bedroom on Ground Floor, More than One Master Bedroom on Ground Floor',
       'Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Inverted Floor Plan, Master Suite / Retreat, More than One Bedroom on Ground Floor',
       'Master Bedroom on Ground Floor, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreate - 2+',
       'Walk-in Closet, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Master Bedroom on Ground Floor, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Inverted Floor Plan, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Ground Floor Bedroom, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Loft Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Master Bedroom on Ground Floor, More than One Master Bedroom',
       'Loft Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor',
       'Loft Bedroom, More than One Bedroom on Ground Floor, Master Suite / Retreate - 2+',
       'More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Master Suite / Retreat, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Master Suite / Retreat, Walk-in Closet, Reverse Floor Plan',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom',
       'Ground Floor Bedroom, Inverted Floor Plan, Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'More than One Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, More than One Bedroom on Ground Floor, Walk-in Closet, Reverse Floor Plan',
       'Ground Floor Bedroom, Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+',
       'Master Suite / Retreat, Walk-in Closet, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Loft Bedroom, More than One Bedroom on Ground Floor, Walk-in Closet, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, More than One Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, More than One Master Bedroom on Ground Floor',
       'Loft Bedroom, Walk-in Closet, Master Suite / Retreate - 2+',
       'Ground Floor Bedroom, Master Bedroom on Ground Floor, Master Suite / Retreat, Walk-in Closet, More than One Master Bedroom on Ground Floor',
       'Loft Bedroom, More than One Bedroom on Ground Floor, More than One Master Bedroom on Ground Floor',
       'More than One Bedroom on Ground Floor, Master Suite / Retreate - 2+',
       'Master Bedroom on Ground Floor, Walk-in Closet, More than One Master Bedroom, Master Suite / Retreate - 2+, More than One Master Bedroom on Ground Floor',
       '10'], dtype=object)

In [19]:
test_df["Bathrooms"].unique()

array([ 2.,  1.,  3.,  5.,  4.,  6., 11.,  7.,  8., 10., 12.,  0.,  9.])

In [21]:
for row in test_df["Bedrooms"]:
    if row.isnumeric():
        continue

    rooms_count = row.count("room")
    print(rooms_count)

2
1
2
1
2
2
1
2
1
0
1
0
0
0
1
0
2
2
1
1
1
3
1
1
2
1
4
2
0
2
1
1
0
1
0
0
1
2
3
1
0
1
1
1
0
3
0
1
1
3
1
0
0
0
2
1
0
1
1
0
1
1
2
0
1
3
1
2
1
0
0
1
0
1
1
0
1
0
1
0
1
1
1
2
0
1
2
1
1
0
2
0
0
1
0
1
1
2
1
0
0
1
2
1
1
0
0
0
1
0
0
0
1
0
3
0
1
0
1
0
2
0
3
2
1
1
1
0
0
1
0
2
2
0
0
2
2
1
3
1
1
0
2
0
1
3
0
1
0
2
0
0
2
1
1
2
0
1
0
0
0
1
2
0
0
2
2
0
2
1
2
3
1
2
1
1
1
2
0
0
0
1
0
1
1
0
2
1
0
1
1
1
1
1
0
0
0
2
1
1
0
3
0
1
1
1
2
1
1
1
0
1
0
1
1
1
2
2
1
2
1
1
0
0
2
1
2
1
0
2
0
1
1
0
1
1
0
1
3
1
0
3
0
1
0
1
2
0
1
0
3
1
0
0
0
0
1
3
2
0
4
1
0
1
0
1
1
1
1
2
1
0
1
0
1
0
0
3
3
0
3
0
2
0
2
0
3
1
0
1
1
0
0
1
1
2
1
1
1
1
0
0
2
0
2
3
1
1
2
1
0
1
1
0
1
0
1
0
2
1
1
0
3
0
0
3
1
2
1
3
1
3
0
0
1
2
0
0
0
0
3
0
0
3
1
1
0
3
1
0
0
0
1
3
1
1
1
1
1
0
2
0
2
3
1
0
1
0
2
2
0
1
1
0
0
1
1
0
2
1
1
1
1
0
3
1
2
3
0
3
0
2
0
0
2
1
3
2
0
1
1
0
0
1
2
0
2
1
1
1
3
0
1
1
1
0
1
3
0
2
0
1
1
1
1
0
1
0
0
0
2
1
1
3
2
1
0
2
2
1
0
0
0
0
1
1
2
0
1
1
1
1
2
0
1
1
2
2
1
2
2
0
0
1
0
1
3
2
3
3
0
2
3
1
3
1
0
0
1
1
2
0
0
0
0
1
0
2
1
0
0
1
0
1
0
2
1
3
1
1
2
0
1
0
3
2
0
2
0
1
0
1
2
1
0
2
0
0
1
2
4
1
2
2
1
3
1
0
1
1
0
0
3
4
1
3
1
1
0
3
2
3
2
0
1
0
2
2
0
0
0
1
1
1
1
2
0
3
2
2
0
0
0
1
3
3
1
1
3
0
0
0
1
3
1
2
2
1
2
0
0
0
0
0
0
1
1
0
0
1
0
0
1
0
1
0
0
1
1
0
0
0
1
1
2
0
2
2
0
1
0
2
2
0
2
0
0
2
1
0
3
0
3
1
2
2
3
2
2
0
0
1
2
0
0
0
0
2
0
2
0
1
0
1
0
0
0
0
2
1
1
1
1
0
0
0
3
0
0
0
1
1
2
0
0
0
1
1
2
1
1
1
1
1
2
2
3
1
2
0
1
3
0
0
2
1
1
1
1
0
2
3
0
1
2
1
1
3
0
2
3
1
2
0
1
3
1
0
2
3
1
0
1
2
1
1
1
3
2
3
0
2
1
2
0
1
2
1
1
1
1
3
1
2
0
0
0
1
1
1
0
1
0
0
2
1
2
0
1
1
5
0
0
0
1
1
0
0
2
2
1
1
0
1
3
2
1
2
1
2
1
2
1
0
1
1
0
0
0
3
1
1
1
0
2
1
2
0
0
2
1
1
1
1
0
1
0
3
1
3
3
2
0
1
2
3
1
0
1
1
0
2
0
0
1
1
0
1
2
0
1
0
0
0
0
1
1
1
0
0
0
1
1
2
0
0
1
1
0
1
2
0
2
0
1
1
1
1
1
1
0
0
2
1
0
2
3
0
1
2
3
2
1
3
1
1
2
2
3
1
0
1
2
0
1
2
1
2
2
0
1
1
1
3
0
3
0
1
0
1
2
0
1
1
0
0
0
1
2
1
4
1
1
0
1
0
1
0
3
1
0
0
0
1
1
2
0
1
2
1
1
2
0
3
2
0
2
0
1
5
0
1
2
0
0
0
1
2
2
1
0
0
1
0
2
0
0
1
2
2
0
0
0
0
2
1
0
1
3
1
3
0
1
0
1
1
0
0
1
2
1
2
0
1
0
1
0
0
1
2
0
1
2
0
0
0
0
0
1
0
1
3
3
0
1
0
2
3
1
2
1
1
1
0
1
1
0
2
1
3
2
2
1
1
2
3
0
1
0
2
0
0
0
1
1
0
1
0
2
3
0
1
1
1
0
0
1
0
1
1
1
0
0
1
0
0
1
1
1
0
1
0
1
2
0
1
2
2
0
0
0
1
1
3
0
0
0
0
3
1
0
2
1
0
3
1
2
2
0
2
0
0
2
1
0
2
1
3
1
1
2
3
1
3
0
1
2
0
0
0
1
0
1
4
2
2
0
1
3
1
1
0
2
1
1
2
0
2
1
0
2
1
0
0
1
0
3
0
0
0
3
2
2
2
1
1
3
2
2
1
1
0
1
1
0
0
1
0
2
1
0
1
0
1
0
0
1
3
0
2
1
0
1
1
0
0
1
3
1
0
1
1
1
2
0
0
0
0
1
3
1
2
0
3
1
1
1
0
1
1
2
0
0
3
0
1
1
0
0
1
2
0
2
2
0
1
1
1
1
0
1
1
3
1
2
2
3
0
0
1
1
1
1
0
1
0
3
1
2
0
0
3
3
0
0
2
1
4
1
0
1
1
2
2
1
2
1
1
0
2
0
1
2
0
0
0
3
0
2
1
1
1
1
1
0
0
2
0
2
2
1
1
0
1
1
0
0
0
2
1
3
1
0
3
1
0
3
3
1
0
1
0
0
2
0
0
0
0
2
2
3
1
2
1
1
1
0
1
3
0
1
2
2
3
0
1
2
0
1
1
0
0
3
2
3
3
1
0
3
3
0
2
1
1
3
0
0
1
1
1
1
0
0
1
2
1
1
1
0
2
1
2
1
1
1
0
0
3
2
2
1
0
1
2
0
1
0
1
2
2
2
2
3
1
0
1
1
0
2
2
0
1
0
0
0
2
0
0
3
0
1
0
0
0
1
1
2
2
0
2
2
1
0
3
1
0
1
1
2
1
2
0
0
2
0
2
0
2
3
2
3
1
0
0
1
2
1
3
0
0
2
3
1
1
0
1
0
0
0
1
1
2
3
1
1
0
1
2
0
0
0
1
1
1
3
1
0
5
0
1
3
1
1
0
2
0
0
0
3
1
1
2
0
0
1
3
2
0
1
2
0
1
1
0
0
0
1
2
1
1
3
0
0
0
1
2
1
0
0
0
2
1
1
0
0
0
1
0
0
1
0
2
1
1
1
1
1
0
0
1
0
3
3
0
1
2
2
1
0
1
0
1
0
0
0
1
1
3
1
0
0
0
0
2
3
1
1
1
0
2
0
1
2
0
0
3
1
0
1
0
0
1
0
1
4
1
3
0
0
2
2
1
2
1
0
2
1
0
1
0
3
0
2
0
0
2
1
1
1
1
3
0
2
0
2
0
0
2
2
1
2
1
1
0
0
1
2
0
0
5
1
0
1
1
0
1
1
2
0
1
0
1
2
0
0
3
1
1
0
2
0
0
1
1
1
3
2
2
2
2
1
0
2
2
0
0
1
0
1
0
2
1
1
1
1
1
0
0
1
0
2
0
0
3
0
2
1
0
2
1
2
1
1
0
0
2
1
0
2
0
1
0
0
3
0
1
0
1
0
1
1
2
4
2
0
4
2
0
0
3
1
1
1
1
0
3
1
2
1
1
0
1
0
0
1
0
3
3
1
1
0
1
0
0
2
1
2
0
0
2
0
1
1
0
1
0
1
0
0
0
0
0
1
2
1
0
1
0
3
1
0
0
0
1
2
2
2
1
3
2
2
1
2
0
1
2
1
3
0
1
2
1
3
1
1
0
0
3
0
0
2
3
3
1
1
0
2
0
2
2
1
2
1
0
0
0
2
2
0
2
1
1
0
0
3
1
0
1
2
2
0
1
1
0
0
1
1
0
1
0
2
0
1
1
1
1
2
1
0
0
1
1
1
0
1
1
1
2
1
0
1
3
0
1
0
1
3
0
2
1
1
0
3
0
1
0
0
0
0
0
1
1
2
2
1
2
0
1
1
1
1
0
0
1
1
0
1
1
3
0
3
0
1
1
2
2
0
3
1
3
0
1
0
0
1
1
1
2
1
2
3
2
5
1
0
1
2
1
1
1
0
2
3
2
0
2
2
0
1
1
2
0
2
2
1
2
3
1
1
1
0
1
4
1
1
2
0
1
2
0
0
0
0
0
1
0
2
0
1
3
0
1
0
1
2
0
0
2
0
1
0
0
1
1
0
1
1
1
0
1
1
1
3
2
3
2
3
1
0
0
1
2
1
0
1
1
2
0
0
1
1
2
1
0
0
0
1
0
2
2
3
0
0
0
1
0
1
1
0
3
0
1
0
0
0
1
0
1
0
0
0
2
4
2
1
0
1
1
1
1
1
1
1
1
0
1
2
1
1
0
2
1
0
2
0
1
0
1
1
1
1
2
3
0
0
1
2
1
0
0
1
1
1
0
1
0
2
0
2
0
0
3
0
1
2
1
0
0
2
0
1
1
0
1
1
1
0
0
1
0
1
2
2
0
3
1
2
2
0
1
2
1
1
0
1
2
0
0
0
1
0
0
0
0
3
1
2
3
0
1
0
2
1
0
2
2
1
0
3
0
1
0
1
0
2
0
0
0
1
1
1
0
1
3
0
1
1
1
0
0
1
1
1
2
1
1
0
0
1
1
2